---
import Layout from '../layouts/Layout.astro';
import AboutHero from '../components/about/AboutHero.astro';
import AboutStory from '../components/about/AboutStory.astro';
import AboutFleet from '../components/about/AboutFleet.astro';
import AboutCommitment from '../components/about/AboutCommitment.astro';
import WavyDivider from '../components/about/WavyDivider.astro';
---

<Layout>
	<main class="min-h-screen bg-[#EFF6FB]">
		<AboutHero />
		<AboutStory />
		<WavyDivider class="bg-[#EFF6FB]" />
		<AboutFleet />
		<WavyDivider class="bg-[#EFF6FB]" />
		<AboutCommitment />
	</main>
</Layout>
