---
import Layout from '../layouts/Layout.astro';
import AboutHero from '../components/about/AboutHero.astro';
import AboutStory from '../components/about/AboutStory.astro';
import AboutFleet from '../components/about/AboutFleet.astro';
import AboutCommitment from '../components/about/AboutCommitment.astro';
---

<Layout>
	<main class="min-h-screen bg-white">
		<AboutHero />
		<AboutStory />
		<AboutFleet />
		<AboutCommitment />
	</main>
</Layout>
