---
import Layout from '../layouts/Layout.astro';
import ExperiencesHero from '../components/experiences/ExperiencesHero.astro';
import ExperiencesList from '../components/experiences/ExperiencesList.astro';
---

<Layout>
	<main class="min-h-screen bg-white">
		<ExperiencesHero />
		<ExperiencesList />
	</main>
</Layout>
