---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import BookingSection from '../components/BookingSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import GlobalCoverageSection from '../components/GlobalCoverageSection.astro';
import ToursSection from '../components/ToursSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
---

<Layout>
	<main class="min-h-screen bg-sky-50">
		<HeroSection />
		<BookingSection />
		<FeaturesSection />
		<GlobalCoverageSection />
		<ToursSection />
		<ExperienceSection />
	</main>
</Layout>
